[Unit]
Description=Quantoshi Celery Worker
After=redis-server.service quantoshi-cache.service
Requires=redis-server.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/quantoshi
Environment=PYTHONPATH=/opt/quantoshi:/opt/quantoshi/btc_web
ExecStart=/opt/quantoshi/btc_venv/bin/celery -A btc_web.celery_app worker --loglevel=info -c 2 --max-tasks-per-child=50
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
